body{

font-family: Arial;
margin:0;
background:#f4f6f9;

}

header{

background:#1e40af;
color:white;
text-align:center;
padding:20px;

}

.container{

width:400px;
margin:auto;
background:white;
padding:25px;
margin-top:20px;
border-radius:10px;
box-shadow:0 0 10px gray;

}

input{

width:100%;
padding:10px;
margin:8px 0;

}

button{

width:100%;
padding:12px;
background:#2563eb;
color:white;
border:none;
cursor:pointer;

}

button:hover{

background:#1d4ed8;

}

.result{

margin-top:20px;
padding:10px;
background:#eef2ff;
border-radius:8px;

}

#map{

height:500px;
margin-top:30px;

}