<!DOCTYPE html>
<html>

<head>
<title>Road Accident Blackspot Prediction</title>

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

</head>

<body>

<header>
<h1>AI Road Accident Blackspot Prediction</h1>
<p>Click on map or enter location to predict risk</p>
</header>

<div class="container">

<h2>Enter Location</h2>

<input type="text" id="location" placeholder="Enter city or road name">
<button onclick="searchLocation()">Search Location</button>

<br><br>

<label>Latitude</label>
<input type="text" id="lat">

<label>Longitude</label>
<input type="text" id="lon">

<button onclick="predictRisk()">Predict Accident Risk</button>

<div class="result">
<h3>Risk Level</h3>
<p id="risk"></p>

<h3>Suggested Safety Measures</h3>
<p id="solution"></p>
</div>

</div>

<div id="map" style="height:500px;"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="script.js"></script>

</body>
</html>
