<!DOCTYPE html>
<html>

<head>
<title>Road Accident Blackspot Prediction</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

</head>

<body>

<header>
<h1>AI Road Accident Blackspot Prediction</h1>
<p>Click on map or enter location to predict risk</p>
</header>

<div class="container">

<h2>Enter Location</h2>

<div class="autocomplete">

<input type="text" id="location" placeholder="Type city or road">

<ul id="suggestions"></ul>

</div>
<button onclick="searchLocation()">Search Location</button>

<br><br>

<label>Latitude</label>
<input type="text" id="lat">

<label>Longitude</label>
<input type="text" id="lon">

<button onclick="predictRisk()">Predict Accident Risk</button>

<div class="info">

<h3>Weather</h3>
<p id="weather"></p>

<h3>Risk Level</h3>
<p id="risk"></p>

<h3>Prediction Factors</h3>
<p id="factors"></p>

<h3>Suggested Safety Measures</h3>
<p id="solution"></p>

</div>
</div>

<div id="map" style="height:500px;"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
